.background-dark-theme{
    background-color: #242424;
}
.card-dark-theme{
    background-color: #3a3a3a;
}
.secondary-dark-theme{
    background-color: rgba(255, 255, 255, 0.7);
}
.secondary-text-dark-theme{
    color: rgba(255, 255, 255, 0.7);
}
.primary-text-dark-theme{
    color: #fff;
}

.no-data-text-theme{
    color: rgb(202, 24, 202);
}
.good-data-text-theme{
    color:seagreen;
}
.warning-data-text-theme{
    color:goldenrod;
}
.danger-data-text-theme{
    color:darkred;
}

.no-data-theme{
    background-color: rgb(202, 24, 202);
}
.good-theme{
    background-color:seagreen;
}
.warning-theme{
    background-color:rgb(230, 208, 14);
}
.danger-theme{
    background-color:darkred;
}
.primary-theme{
    background-color:darkcyan;
}