#main{
    flex-direction: row;
}
img{
    width: 100%; /* or any custom size */
    height: 100%; 
    max-height: 200px;
    object-fit: cover;
    overflow:hidden;
}
body{
    font-family: 'Helvetica';
}
a{
    text-decoration: none;
}
button, button:active{
    outline: none;
    border-style: none;
}
button:hover{
    cursor: pointer;
}
input{
    border-style: none;
    outline: none;
    color: #fff;
}
input:active{
    outline: none;
    color: #fff;
}
input:focus{
    outline: none;
    color: #fff;
}
.row{
    flex-direction: column;
}
.flex{
    display: flex;
}
.wrap{
    flex-wrap: wrap;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-baseline{
    justify-content: baseline;
}
.justify-content-space-around{
    justify-content: space-around;
}
.justify-content-space-between{
    justify-content: space-between;
}
.justify-content-space-evenly{
    justify-content: space-evenly;
}
.justify-content-start{
    justify-content:flex-start;
}
.justify-content-end{
    justify-content:flex-end;
}
.align-stretch{
    align-items: stretch;
}
.self-stretch{
    align-self: stretch;
}
.self-end{
    align-self: end;
}
.align-end{
    align-items:end;
}
.align-baseline{
    align-items:baseline;
}


.p-4{
    padding: 4px;
}
.m-4{
    margin: 4px;
}

.p-8{
    padding: 8px;
}
.pv-8{
    padding-top: 8px;
    padding-bottom: 8px;
}
.ph-8{
    padding-right: 8px;
    padding-left: 8px;
}
.m-8{
    margin: 8px;
}
.mv-8{
    margin-top: 8px;
    margin-bottom: 8px;
}
.mh-8{
    margin-right: 8px;
    margin-left: 8px;
}

.p-16{
    padding: 16px;
}
.pv-16{
    padding-top: 16px;
    padding-bottom: 16px;
}
.ph-16{
    padding-right: 16px;
    padding-left: 16px;
}
.m-16{
    margin: 16px;
}
.mv-16{
    margin-top: 16px;
    margin-bottom: 16px;
}
.mh-16{
    margin-right: 16px;
    margin-left: 16px;
}

.p-32{
    padding: 32px;
}
.m-32{
    margin: 32px;
}
.mh-32{
    margin-right: 32px;
    margin-left: 32px;
}
.p-64{
    padding: 64px;
}
.m-64{
    margin: 64px;
}
#menu{
    justify-content:center;
}
#endpoint-details-widget{
    gap: 32px;
    flex-direction: row;
}
@media (max-width: 600px) {
    #main{
        flex-direction: column;
    }
    #menu{
        justify-content: center;
    }
    #endpoint-details-widget{
        flex-direction: column;
        gap: 8px;
    }
}