.endpoint-card{
    min-width: 200px;
    max-width: 400px;
}
.custom-widget{
    justify-content: space-between;
}
.input_mac{
    padding: 8px;
    background-color: #242424;
    letter-spacing: 2px;
    margin-left: 8px;
    margin-right: 8px;
    text-align: justify;
}
#hide{
    visibility: hidden;
}
#endpoint-name-input{
    flex-grow: 1;
}
@media (max-width: 600px) {
    .custom-widget{
        justify-content: space-between;
        padding-left:2%;
        padding-right:2%;
    }
}