.endpoint-card{
    min-width: 200px;
    max-width: 400px;
}
.custom-widget{
    justify-content: space-between;
}
#hide{
    visibility: hidden;
}
@media (max-width: 600px) {
    .custom-widget{
        justify-content: space-between;
        padding-left:2%;
        padding-right:2%;
    }
}