.endpoint-card{
    min-width: 300px;
    max-width: 500px;
    flex-grow: 1;
}
.custom-widget{
    justify-content: space-between;
}
.input_mac{
    padding: 8px;
    background-color: #242424;
}
#hide{
    visibility: hidden;
}
#endpoint-name-input{
    flex-grow: 1;
}
@media (max-width: 600px) {
    .custom-widget{
        justify-content: space-between;
        padding-left:2%;
        padding-right:2%;
    }
}