<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Leaf - {{endpoint_name}}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="../static/styles.css">
        <link rel="stylesheet" href="../static/colors.css">
        <link rel="stylesheet" href="../static/widgets.css">
    </head>
    <body class="background-dark-theme w3-mobile ">
        <nav class="card-dark-theme sticky p-8">
            <div class="flex align-baseline justify-content-space-between">
                <a href="/" class="primary-text-dark-theme" style="font-size: x-large;">
                    <span >&#x2190</span>
                </a>
                <div class="flex col justify-content-end align-baseline">
                    <a href="./delete-endpoint/{{endpoint_name}}" class="w3-badge danger-theme w3-round-small p-8">
                        Delete
                    </a>
                </div>
            </div>
        </nav>
        <div class="w3-card card-dark-theme m-16 p-16 w3-center">
            <div class="flex row justify-content-center">
                <span class="secondary-text-dark-theme"style="font-size: x-large;">
                    {{endpoint_name}}
                </span>
                <span class="primary-text-dark-theme">
                    {{endpoint_mac_address}}
                </span>
            </div>
            <div id="endpoint-details-widget" class="flex mv-16 justify-content-center">
                <div class="flex row">
                    <span class="secondary-text-dark-theme">
                        First connection
                    </span>
                    <span class="primary-text-dark-theme">
                        {{endpoint_first_update}}
                    </span>
                </div>
                <div class="flex row">
                    <span class="secondary-text-dark-theme">
                        Last update
                    </span>
                    <span class="primary-text-dark-theme">
                        {{endpoint_last_update}}
                    </span>
                </div>
                <div class="flex row">
                    <span class="secondary-text-dark-theme">
                        Running time
                    </span>
                    <span class="primary-text-dark-theme">
                        {{running_time}}
                    </span>
                </div>
            </div>
            
            <span class="{{endpoint_status_color}} w3-round-small p-8">
                {{endpoint_status_message}}
            </span>
        </div>
        <div class="w3-center">
            <span class="secondary-text-dark-theme">Endpoint sensors:</span>
            <span class="primary-text-dark-theme">{{num_sensors}}</span><br>
            <a type="button" href="/endpoint/{{endpoint_name}}/edit-sensor/new" class="p-8 m-8 w3-btn secondary-dark-theme">
                Add new Sensor
            </a>
        </div>
        <div id="main" class="w3-container justify-content-center flex wrap">
            {% for sensor_card in sensor_cards %}
                {{sensor_card|safe}}
            {% endfor %}
        </div>
        
    </body>
</html>