<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Leaf</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="../static/styles.css">
        <link rel="stylesheet" href="../static/colors.css">
        <link rel="stylesheet" href="../static/widgets.css">
    </head>
    <body class="background-dark-theme w3-mobile " style="font-family: Helvetica;">
        <nav class="w3-center">
            <h1 class="primary-text-dark-theme">
                Endpoint List Homepage
            </h1>
        </nav>
        
        <div class="w3-container card-dark-theme ">
            <div id="menu" class="flex wrap m-16">
                <div class="mh-16">
                    <span class="secondary-text-dark-theme">Search bar</span>
                    <form class="flex align-stretch" method="POST" action="/search">
                        <input name="search_text" size="32" class="background-dark-theme" type="text" placeholder="Endpoint or sensor name" title="Filter" value="{{input_text}}"/>
                        <button class="w3-btn secondary-dark-theme" type="submit" onclick="this.form.submit()">
                            Search
                        </button>
                    </form>
                </div>
    
                <div class="mh-16 flex"> 
                    <form class="flex" method="POST" action="/sort">
                        <div>
                            <label class="secondary-text-dark-theme" for="sorting_method">Sort by</label><br>
                            <select name="sorting_method" class="w3-select">
                                <option value="{{current_select}}" selected>{{current_select}}</option>
                                {% for opt in options %}
                                    <option value="{{opt}}">{{opt}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="w3-center">
                            <label class="secondary-text-dark-theme mh-16" for="is_reversed">Descend</label><br>
                            <input class="w3-check" name="is_reversed" type="checkbox" {% if check_box_value==True %}checked{% else %}{% endif %}/>
                        </div>
                        <div class="w3-center">
                            <label class="secondary-text-dark-theme" for="is_reversed"></label><br>
                            <button class="w3-btn secondary-dark-theme" type="submit" onclick="this.form.submit()">
                                Confirm
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            
        </div>
        <div class="w3-center">
            <p class="secondary-text-dark-theme">
                Endpoints connected to the network
            </p>
            <a type="button" href="edit-endpoint/new" class="p-8 w3-btn secondary-dark-theme">
                Add new Endpoint
            </a>
        </div>
        
        <div id="main" class="w3-container justify-content-center flex wrap mh-16">
            {% for endpoint_card in endpoint_card_list %}
                {{ endpoint_card|safe}}
            {% endfor %}
        </div>
    </body>
</html>
